* {
    margin: 0;
}

body {
    background-color: #000000;
    font-family: "sintony",sans-serif;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
}

.header {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    padding: 30px;
    color: rgb(0, 255, 60);
    width: 300px;
    margin: auto;

}

nav {
    background-color: rgb(0, 255, 60);
    text-align: start;
    font-size: 16px;
    text-decoration: none;
    padding: 10px auto;
    width: 450px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    width: 450px;
    margin: 0px auto;
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    gap: 2rem;
    width: 100px;
    

}

nav a{
    text-decoration: none;
    color: #000000;
}


nav h1 {
    text-align: end;
}

.catalogue-grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    background-color: rgb(0, 0, 0);
    border: 0.1rem solid;
    margin: 30px 0px 30px 0px;
    position: relative;
    border: 2px solid rgb(0, 255, 60) ;
}

.catalogue-card{
    background-color: #D9D9D9;
    width: 200px;
    height: 300px;
    gap: 20px;
    margin: 30px auto;
}

.tasse{
    position: relative;
    text-align: center;
    width: 150px;
    margin: 10px auto;
}

.tasse img{
        width: 150px;
}

.image-tasse {
    position:absolute;
    top: 10px;
    left:10px;
    width: 90px;

}

.image-tasse img{
    width: 85px;
}

.rudo {
position: absolute;
top: 30px;
left: 8px;
}

.card-h2{
    margin: 30px auto;
    text-align: center
}

.card-btn {
    margin: auto;
    text-align: center;
    width: 50px;
    
}

.card-btn button{
        background-color: rgb(0, 255, 60);
    border-radius: 10px;
    padding: 0.8rem;
}

.card-btn a{
    text-decoration: none;
}

footer {
    background-color: rgb(0, 255, 60);
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0;
}

