* {
    margin: 0;
}

body {
    background-color: #000000;
    font-family: "sintony", sans-serif;

}

.container {
    max-width: 1100px;
    margin: 40px auto;
}

.header {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    padding: 30px;
    color: rgb(0, 255, 60);
    width: 300px;
    margin: auto;

}

nav {
    background-color: rgb(0, 255, 60);
    text-align: start;
    font-size: 16px;
    padding: 10px auto;
    width: 450px;
    margin: 0 auto;

}

nav ul {
    text-align: center;
    width: 450px;
    margin: 0px auto;
    padding: 10px 0;

}

nav ul li {
    display: inline-block;
    gap: 2rem;
    width: 100px;

}

nav a {
    text-decoration: none;
    color: #000000;
}

nav h1 {
    text-align: end;
}

.contact-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 30px 0px 30px 0px;
}

.iframe {
    margin: 30px auto;
    border: 3px solid  rgb(0, 255, 60);
    width: 500px;
}

.iframe-info {
    color:  rgb(0, 255, 60);
    margin: 0 auto;
}

.iframe-info h2 {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;

}

.iframe-info p {
    margin: 10px auto 20px auto;
    text-align: center;
}

footer {
    background-color: rgb(0, 255, 60);
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0;
}