* {
    margin: 0;
}

body {
    background-color: #000000;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
}

.header {
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    padding: 30px;
    color: rgb(0, 255, 60);
    width: 300px;
    margin: auto;

}

nav {
    background-color: rgb(0, 255, 60);
    text-align: start;
    font-size: 16px;
    text-decoration: none;
    padding: 10px auto;
    width: 450px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    width: 450px;
    margin: 0px auto;
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    gap: 2rem;
    width: 100px;

}

nav h1 {
    text-align: end;
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-color: rgb(0, 0, 0);
    border: 0.1rem solid;
    margin: 30px 0px 30px 0px;
    position: relative;
}

.hero-accroche {

    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: 240px 0 0 0;
    padding: 30px;
    gap: 0.5rem;
    font-size: 24px;
    width: 500px;
    height: 150px;
    border: 1px solid #00FF1E;
}

.accroche h2 {}

.hero-accroche button {
    background-color: rgb(0, 255, 60);
    border-radius: 10px;
    max-width: 10rem;
    padding: 0.8rem;

}

.hero-container {
    width: 600px;
    height: 350px;
    position: absolute;
    background-color: black;
    margin: 0px 0 30px 30px;
    top: 0;
    right: 0;
    border: 1px solid #00FF1E;

}

.image-hero {
    display: flex;
    flex-direction: row;
}

.hero-intro {
    padding: 30px;
}

.image-hero h2 {
    color: #00FF1E;
    margin: 20px;
}

.image-hero p {
    color: #00FF1E;
    margin: 20px;

}

.image-hero img {
    width: 240px;

}

footer {
    background-color: rgb(0, 255, 60);
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0;
}