body {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(41, 35, 36);
}

nav {
    background-color: rgb(0, 255, 60);
    text-align: end;
}

nav ul li {
    display: inline-flex;
    text-decoration: none;
    gap: 2rem;



}

.hero {
    display: flex;
    background-color: rgb(73, 72, 72);
    border: 0.1rem solid;
}

.hero-accroche {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
    gap: 0.5rem;
}

.accroche {

}

.hero-accroche button {
    background-color: rgb(0, 255, 60);
    border-radius: 10px;
    max-width: 10rem;
}

.tasse-hero-container {
}

.tasse-hero {
    background-image: url(images/tassenoirepng.png);
    background-size: 30rem;
    background-repeat: no-repeat;
    margin-left: 6rem;
}

.image-tasse-hero img {
    width: 15rem;
    padding: 3rem 12rem 3rem 3rem;

}

footer {
    background-color: rgb(0, 255, 60);

    text-align: center;
}